{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react",
    "ava",
  ],
  "env": {
    "browser": true,
    "es6": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "new-cap": "off",
    "capitalized-comments": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/newline-after-import": "off",
    "react/prop-types": "off",
  },
}
